.tab {
    margin-top: 2rem;
    position: relative;
    padding-top: 2rem;
}

.tab>input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: -100vw;
}

.tab>nav {
    position: absolute;
    top: 0;
    width: 100vw;
    left: calc(50% - 50vw);
    overflow: auto;
    white-space: nowrap;
}

.tab>nav>:first-of-type {
    margin-left: 5%;
}

.tab>nav>:last-of-type {
    margin-right: 5%;
}


.tab>ul {
    overflow: hidden;
}

label:is(.tab>*, .tab>nav>*) {
    position: relative;
    display: inline-block;
    padding: calc(0.5rem * 3 / 4) 1rem;
    border-radius: calc(var(--button-height) / 2);
    background-color: transparent;
    color: rgb(var(--primary-color-data));
    transition-property: color, background-color;
}

label:is(.tab>*, .tab>nav>*):is([class^="lenra-icon-"], [class*=" lenra-icon-"]) {
    padding-left: calc(1rem + 1rem + 0.5rem);
}

label:is(.tab>*, .tab>nav>*):is([class^="lenra-icon-"], [class*=" lenra-icon-"])::before {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

label:is(.tab>input[type="radio"]:checked+*,
    .tab>input[type="radio"]:nth-of-type(1):checked~nav>*:nth-of-type(1),
    .tab>input[type="radio"]:nth-of-type(2):checked~nav>*:nth-of-type(2),
    .tab>input[type="radio"]:nth-of-type(3):checked~nav>*:nth-of-type(3),
    .tab>input[type="radio"]:nth-of-type(4):checked~nav>*:nth-of-type(4),
    .tab>input[type="radio"]:nth-of-type(5):checked~nav>*:nth-of-type(5),
    .tab>input[type="radio"]:nth-of-type(6):checked~nav>*:nth-of-type(6),
    .tab>input[type="radio"]:nth-of-type(7):checked~nav>*:nth-of-type(7),
    .tab>input[type="radio"]:nth-of-type(8):checked~nav>*:nth-of-type(8),
    .tab>input[type="radio"]:nth-of-type(9):checked~nav>*:nth-of-type(9),
    .tab>input[type="radio"]:nth-of-type(10):checked~nav>*:nth-of-type(10)) {
    background-color: rgb(var(--primary-color-data));
    color: rgb(var(--white-data));
}

label:is(.tab>input[type="radio"]:focus+*,
    .tab>input[type="radio"]:nth-of-type(1):focus~nav>*:nth-of-type(1),
    .tab>input[type="radio"]:nth-of-type(2):focus~nav>*:nth-of-type(2),
    .tab>input[type="radio"]:nth-of-type(3):focus~nav>*:nth-of-type(3),
    .tab>input[type="radio"]:nth-of-type(4):focus~nav>*:nth-of-type(4),
    .tab>input[type="radio"]:nth-of-type(5):focus~nav>*:nth-of-type(5),
    .tab>input[type="radio"]:nth-of-type(6):focus~nav>*:nth-of-type(6),
    .tab>input[type="radio"]:nth-of-type(7):focus~nav>*:nth-of-type(7),
    .tab>input[type="radio"]:nth-of-type(8):focus~nav>*:nth-of-type(8),
    .tab>input[type="radio"]:nth-of-type(9):focus~nav>*:nth-of-type(9),
    .tab>input[type="radio"]:nth-of-type(10):focus~nav>*:nth-of-type(10)) {
    outline: solid 0.125rem;
    outline-offset: -0.25rem;
}

label:is(.tab>*, .tab>nav>*)::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--text-color-data), 0.1);
    cursor: pointer;
}

label:is(.tab>*, .tab>nav>*):first-of-type::after {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

label:is(.tab>*, .tab>nav>*):last-of-type::after {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}


/*** Tab pages ***/

.tab.pages {
    --tab-gap: 5rem;
    counter-reset: tab-count;
}

.tab.pages>input[type="radio"] {
    counter-increment: tab-count;
}

.tab.pages>ul {
    position: relative;
    margin-top: 2rem;
    padding-top: 3rem;
    white-space: nowrap;
    counter-reset: tab-count;
}

.tab.pages>ul>li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: var(--tab-gap);
    opacity: 0;
    white-space: initial;
    transition-property: opacity, margin-left;
    counter-increment: tab-count;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(1)~ul>li:nth-of-type(1),
.tab.pages>input[type="radio"]:checked:nth-of-type(2)~ul>li:nth-of-type(2),
.tab.pages>input[type="radio"]:checked:nth-of-type(3)~ul>li:nth-of-type(3),
.tab.pages>input[type="radio"]:checked:nth-of-type(4)~ul>li:nth-of-type(4) {
    opacity: 1;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(1)~ul>li:first-of-type {
    margin-left: 0;
}

.tab.pages>input[type="radio"]:checked:nth-of-type(2)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -1);
}

.tab.pages>input[type="radio"]:checked:nth-of-type(3)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -2);
}

.tab.pages>input[type="radio"]:checked:nth-of-type(4)~ul>li:first-of-type {
    margin-left: calc((100% + var(--tab-gap)) * -3);
}


/*** Tab filter ***/

.tab.filter>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.tab.filter>ul>li {
    display: none;
}


@media (min-width: 50rem) {
    label:is(.tab>*, .tab>nav>*) {
        padding: 0.5rem 2rem;
    }

    label:is(.tab>*, .tab>nav>*):is([class^="lenra-icon-"], [class*=" lenra-icon-"]) {
        padding-left: calc(2rem + 1rem + 0.5rem);
    }

    label:is(.tab>*, .tab>nav>*):is([class^="lenra-icon-"], [class*=" lenra-icon-"])::before {
        left: 2rem;
    }
}