aside#cookies
    button.primary.lenra-icon-cookies Gestion des cookies
    section
        button.lenra-icon-x
        h3
            | Nous n'utilisons aucun
            |
            strong cookie
        p
            | Nous voulons nous libérer (mais nous ne pouvons pas complètement, sauf pour les cookies)!
            | Lenra est 100% éthique, et nous n'utilisons
            |
            strong pas
            |
            | de cookies.
            | Vous pouvez donc toujours accepter ou choisir vos préférences, de toute façon, chez Lenra, vos données n'appartiennent qu'à
            |
            strong vous
            |
            | !
        nav
            button.primary Tant mieux, je refuse toujours
            //- a.btn.link(href="TODO") What does it means ?