- const footerParts = parts.map(p => ({...partsData[p], id: p, path: `/#${p}`}));
mixin displayFooterPageLink(p)
    if (p.disabled)
        a(href=p.path disabled aria-disabled="true" tabindex="-1" title="Bientôt")= p.name
    else 
        a(href=p.path)= p.name

mixin displayFooterGroup(group)
    section
        h3= group.name
        - console.log("group", group.id, "elements", footerParts.filter(p => p.group==group.id))
        - var elements = footerParts.filter(p => p.group==group.id);
        if (group.id=="contact")
            - elements.push({name: "Mention legales", path: "/legal.html"})
        each page in elements
            +displayFooterPageLink(page)

footer.invert-colors
    a(href="/") Acaos
    nav 
        - const groups = footerGroups.map(p => ({...footerGroupsData[p], id: p}));
        each el in groups
            +displayFooterGroup(el)
    
    aside
        div(id="wcb" class="carbonbadge wcb-d")
        script(src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer)
