extends .layout.pug

include components/.tab.pug
mixin displayTechnologies(techs)
    ul.technologies
        each technology in techs
            - var logo = technology.logo ?? `${technology.key}.svg`;
            li
                figure
                    img(src=`img/technologies/${logo}` alt=technology.name width=64 height=64)
                    figcaption= technology.name

block content
    include parts/.discover.pug
    include parts/.values.pug
    include parts/.services.pug
    include parts/.technologies.pug
    include parts/.portfolio.pug
    section.invert-colors
        h2
            | Un
            |
            strong projet
            |
            | en tête ? 

        p Notre équipe est là pour vous écouter et répondre à toutes vos questions

        include components/.contact-button.pug

    include parts/.team.pug
    include parts/.contact.pug