extends .layout.pug

block header 
    h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
    p
        | Le site
        |
        a(href="https://www.lenra.fr") www.lenra.fr
        | 
        | est édité par l'entreprise Lenra.

block content
    section
        h2 Propriétaire
        h3 Lenra
        p SAS au capital de 1030 €
        p RCS La Rochelle B 812 357 317
        p 
            strong Code APE
            |
            | 62009Z
        p 
            strong Numéro de TVA
            |
            | FR 22 812 357 317
        p
            strong Siége social
            |
            | 1 rue Fleming 17000 La Rochelle FRANCE
        p 
            strong Président
            |
            | Thomas Da Rocha
        p
            strong Numéro de téléphone
            |
            |
            a(href="tel:+33767673626") +33 7 67 67 36 26

    section
        h2 Hébergé chez
        h3 OVHCloud
        p SAS au capital de 10 174 560 €
        p RCS Lille Métropole 424 761 419 00045
        p 
            strong Code APE
            |
            | 2620Z
        p 
            strong Numéro de TVA
            |
            | FR 22 424 761 419
        p
            strong Siége social
            |
            | 2 rue Kellermann - 59100 Roubaix - France
        p 
            strong Président
            |
            | Michel Paulin
        p OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.

    section
        h2 Crédits
        h3 Illustrations et icons
        ul
            li 
                a(href="https://undraw.co" target="_blank" rel="noopener") Undraw
            li 
                a(href="https://icomoon.io" target="_blank" rel="noopener") Icomoon
            li 
                a(href="https://feathericons.com" target="_blank" rel="noopener") Feather
            li 
                a(href="https://simpleicons.org" target="_blank" rel="noopener") Simple Icons
