section#discover.arrows
    h2(data-title="Qui sommes nous ?")
        | Découvrez
        |
        strong Lenra 
    
    p
        | Lenra, une agence de conception et de développement d'applications mobiles située sur La Rochelle.

    p
        | Nous sommes spécialisés dans le développement d'applications multi-plateformes (Android, iOS, Windows, macOS, Linux et le web).
        | Nous créons des applications surmesure et vous accompagnons dans vos projets.

    include ../components/.contact-button.pug