section#services
    h2(data-title="Nos services")
        | Des services adaptés à
        |
        strong votre
        |
        | besoin

    section.tab.pages
        input#service-application(type="radio" name="service" checked)
        label.lenra-icon-devices(for="service-application") Application
        input#service-web-app(type="radio" name="service")
        label.lenra-icon-layout(for="service-web-app") Web app
        input#service-website(type="radio" name="service")
        label.lenra-icon-globe(for="service-website") Site-web
        input#service-api(type="radio" name="service")
        label.lenra-icon-zap(for="service-api") API
    
        ul
            li
                section
                    h3.lenra-icon-devices Développement d'application
                    p 
                        | Notre équipe d'experts en développement d'applications vous aide à créer une application mobile ou de bureau personnalisée pour votre entreprise.
                        | Nous proposons des services de développement pour les principales plateformes telles qu'iOS, Android, Windows, macOS et Linux.
                        | Nous sommes en mesure de gérer l'ensemble du processus de développement, de la conception à la mise en œuvre, en passant par les tests et le lancement, nous sommes en mesure de réaliser tous types d'applications : marketplace, fitness, finances, jeux, réseau social, productivité et organisation, santé, livraison, e-commerce etc..
                    p Les + : une expertise approfondie dans la conception et le développement de ces applications, ainsi qu'une compréhension approfondie des principales plateformes.
                    ul
                        li.lenra-icon-ios iOS
                        li.lenra-icon-android Android
                        li.lenra-icon-windows Windows
                        li.lenra-icon-apple macOS
                        li.lenra-icon-linux Linux
                aside
                    +displayTechnologies(technologies.filter(technology => technology.categories.includes('application')))
            li
                section
                    h3.lenra-icon-layout Développement d'application web
                    p
                        | Nous proposons également des services de développement d'applications web pour aider les entreprises à créer des  outils et services qui fonctionnent directement à partir de votre site web.
                        | Nous sommes spécialisés dans les technologies telles que HTML, CSS, JavaScript, etc.
                        | Nous pouvons vous aider à concevoir et à développer des applications web personnalisées pour répondre aux besoins spécifiques de votre entreprise.
                aside
                    +displayTechnologies(technologies.filter(technology => technology.categories.includes('web-app')))
            li
                section
                    h3.lenra-icon-globe Création de site web
                    p 
                        | Nous offrons également des services de création de sites internet pour vous aider à créer une présence en ligne professionnelle.
                        | Notre équipe peut concevoir et développer un site internet personnalisé qui reflète l'identité de votre entreprise et attire les visiteurs.
                        | Nous pouvons gérer tous les aspects de la création, la conception, le développement, l'hébergement et la maintenance.
                aside
                    +displayTechnologies(technologies.filter(technology => technology.categories.includes('website')))
            li
                section
                    h3.lenra-icon-zap Développement d'API
                    p 
                        | Nous mettons notre expertise en développement d'applications au service de nos clients en leur proposant des API sur mesure et personnalisées, en intégrant des données, fonctionnalités spécifiques ou des services tiers.
                        | Nous utilisons des logiciels tels que X, X et X pour concevoir des interfaces de programmation performantes, sécurisées et évolutives.
                        | Notre priorité est de fournir des solutions API de qualité supérieure qui permettront à votre entreprise de rester compétitive dans un environnement technologique en constante évolution.
                aside
                    +displayTechnologies(technologies.filter(technology => technology.categories.includes('api')))