section#team
    h2(data-title='Notre équipe')
        | La
        |
        strong team
        |
        | Lenra

    p
        | Notre équipe est composée de développeurs passionnés et expérimentés.
    
    ul
        li#thomas
            img(src="../img/team/thomas.jpg" alt="Thomas Da Rocha")
            details  
                summary
                    h3 Thomas Da Rocha
                    p Full Stack DevOps
                    +social().app.small
                        a.lenra-icon-github(href="https://github.com/taorepoara" target="_blank" rel="noopener")
                        a.lenra-icon-youtube(href="https://youtube.com/shorts/ukHZfjO391U?feature=share" target="_blank" rel="noopener")
                        a.lenra-icon-linkedin(href="https://www.linkedin.com/in/thomas-da-rocha-57211170" target="_blank" rel="noopener")
                p
                    | Thomas est le fondateur de l'entreprise.
                    | Développeur depuis plus de 15 ans, il maîtrise aussi bien le front que le back de la création d'applications.
                    | Il est également en charge de la gestion de projet et de la relation client.
        li#louis
            img(src="../img/team/louis.jpg" alt="Louis Guilbert")
            details  
                summary
                    h3 Louis Guilbert
                    p Full Stack Developer
                    +social().app.small
                        a.lenra-icon-github(href="https://github.com/Nesqwik" target="_blank" rel="noopener")
                p
                    | Louis est un développeur full stack developer qui a une vue gloabale sur les projets, ce qui lui permet d'intervenir sur n'importe quel problème blocant.
                    | Il est également en charge du département R&amp;D de l'entreprise.
        li#jonas
            img(src="../img/team/jonas.jpg" alt="Jonas Martinez")
            details  
                summary
                    h3 Jonas Martinez
                    p Front-end Developer
                    +social().app.small
                        a.lenra-icon-github(href="https://github.com/jonas-martinez" target="_blank" rel="noopener")
                        a.lenra-icon-youtube(href="https://youtube.com/shorts/1-OdmEHCYmQ?feature=share" target="_blank" rel="noopener")
                p
                    | Jonas est en charge du front-end des applications.
                    | Il est spécialisé dans les technologies
                    |
                    a(href="https://flutter.dev" target="_blank" rel="noopener") Flutter
                    |
                    | et
                    |
                    a(href="https://dart.dev" target="_blank" rel="noopener") Dart
                    | .
        li#emric
            img(src="../img/team/emric.jpg" alt="Emric Pichonier")
            details  
                summary
                    h3 Emric Pichonnier
                    p Back-end Developer
                    +social().app.small
                        a.lenra-icon-github(href="https://github.com/pichoemr" target="_blank" rel="noopener")
                        a.lenra-icon-youtube(href="https://youtube.com/shorts/Z9L4HFW7Vyc?feature=share" target="_blank" rel="noopener")
                p
                    | Emric est en charge du back-end des applications et de la conception des bases de données.
                    | Il est passionné d'
                    a(href="https://elixir-lang.org" target="_blank" rel="noopener") Elixir
                    |
                    | et a créé un système de gestion de données avancé en utilisant
                    |
                    a(href="https://www.mongodb.com" target="_blank" rel="noopener") MongoDB
                    | .
        li#flavien
            img(src="../img/team/flavien.jpg" alt="Flavien Cadet")
            details  
                summary
                    h3 Flavien Cadet
                    p DevSecOps
                    +social().app.small
                        a.lenra-icon-github(href="https://github.com/shiipou" target="_blank" rel="noopener")
                        a.lenra-icon-youtube(href="https://youtube.com/shorts/kOgr8ZMIZ38?feature=share" target="_blank" rel="noopener")
                p
                    | Il est en charge de l'administration des serveurs et de la sécurité de la plateforme.
                    |
                    a(href="https://kubernetes.io") Kubernetes
                    |
                    | n'a plus de secret pour lui.